<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/home_page.css">
  <title></title>
</head>
<body>
  <div class="paper">
    <h1>Chinese Student Vocab</h1>
    <h3>This Web Application is To Help You With Vocabulary</h3>
    <h5>Created By James Moss</h5>
    

    <form action="/definition">
      <button type="submit" value="Submit">Study Definitions</button>
    </form>

    <form action="/synonym">
      <button type="submit" value="Submit">Study Synonyms With Context</button>
    </form>

    <form action="/cores">
      <button type="submit" value="Submit">Study Core Words with Reading Passages</button>
    </form>


    <form action="/toefl">
      <button type="submit" value="Submit">Study TOEFL Words</button>
    </form>
  </div>
</body>
</html>